@font-face {
	font-family: 'Nanum Gothic', sans-serif;
	/* src: url(../font/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"), url(../font/NanumGothic-Regular.woff2) format("woff2"), url(../font/NanumGothic-Regular.woff) format("woff"), url(../font/NanumGothic-Regular.ttf) format("truetype"); */
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Nanum Gothic', sans-serif;
	/* src: url(../font/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"), url(../font/NanumGothic-Bold.woff2) format("woff2"), url(../font/NanumGothic-Bold.woff) format("woff"), url(../font/NanumGothic-Bold.ttf) format("truetype"); */
	font-weight: 700;
	font-style: normal;
}
* {
	-webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {margin: 0px; padding: 0px;}
p {margin: 0px; padding: 0px;}
h1 {margin: 0px; padding: 0px;}
h2 {margin: 0px; padding: 0px;}
h3 {margin: 0px; padding: 0px;}
h4 {margin: 0px; padding: 0px;}
h5 {margin: 0px; padding: 0px;}
h6 {margin: 0px; padding: 0px;}
ul {margin: 0px; padding: 0px;}
ol {margin: 0px; padding: 0px;}
li {margin: 0px; padding: 0px;}
dl {margin: 0px; padding: 0px;}
dt {margin: 0px; padding: 0px;}
dd {margin: 0px; padding: 0px;}
table {margin: 0px; padding: 0px;}
th {margin: 0px; padding: 0px;}
td {margin: 0px; padding: 0px;}
form {margin: 0px; padding: 0px;}
fieldset {margin: 0px; padding: 0px;}
legend {margin: 0px; padding: 0px;}
input {margin: 0px; padding: 0px;}
textarea {margin: 0px; padding: 0px;}
button {margin: 0px; padding: 0px;}
select {margin: 0px; padding: 0px;}
body {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
input {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
textarea {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
button {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
table {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
h1 {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
h2 {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
h3 {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
h4 {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
h5 {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
h6 {color: rgb(34, 34, 34); font-family: "Nanum Gothic",sans-serif; font-size: 12px;}
select {color: rgb(34, 34, 34); font-size: 12px;}
ul {list-style: none;}
ol {list-style: none;}
li {list-style: none;}
img {border: 0px currentColor; border-image: none;}
fieldset {border: 0px currentColor; border-image: none;}
img {}
input {}
select {}
button {}
label {}
input[type='checkbox'] {vertical-align: middle;}
input[type='radio'] {vertical-align: middle;}
img {vertical-align: middle;}
i {font-style: normal;}
em {font-style: normal;}
address {font-style: normal;}
a {color: rgb(34, 34, 34); text-decoration: none;}
a:hover {text-decoration: none;}
article {display: block;}
aside {display: block;}
hgroup {display: block;}
header {display: block;}
footer {display: block;}
figure {display: block;}
figcaption {display: block;}
nav {display: block;}
section {display: block;}
.clear {height: 0px; line-height: 0px; overflow: hidden; clear: both; font-size: 0em; display: block; -ms-zoom: 1; content: "";}
caption {top: -9999px !important; display: block !important; position: absolute !important;}
.soundOnly {top: -9999px !important; display: block !important; position: absolute !important;}
.hidden {top: -9999px !important; display: block !important; position: absolute !important;}
.fl_l {float: left;}
.fl_r {float: right;}
iframe {margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 100%;}
.w10 {width: 10px;}
.w20 {width: 20px;}
.w30 {width: 30px;}
.w40 {width: 40px;}
.w50 {width: 50px;}
.w60 {width: 60px;}
.w70 {width: 70px;}
.w80 {width: 80px;}
.w90 {width: 90px;}
.w100 {width: 100px;}
.w110 {width: 110px;}
.w120 {width: 120px;}
.w130 {width: 130px;}
.w140 {width: 140px;}
.w150 {width: 150px;}
.w160 {width: 160px;}
.w170 {width: 170px;}
.w180 {width: 180px;}
.w190 {width: 190px;}
.w200 {width: 200px;}
.w210 {width: 210px;}
.w220 {width: 220px;}
.w230 {width: 230px;}
.w240 {width: 240px;}
.w250 {width: 250px;}
.w260 {width: 260px;}
.w270 {width: 270px;}
.w280 {width: 280px;}
.w290 {width: 290px;}
.w300 {width: 300px;}
.w310 {width: 310px;}
.w320 {width: 320px;}
.w330 {width: 330px;}
.w340 {width: 340px;}
.w350 {width: 350px;}
.w360 {width: 360px;}
.w370 {width: 370px;}
.w380 {width: 380px;}
.w390 {width: 390px;}
.w400 {width: 400px;}
.w410 {width: 410px;}
.w420 {width: 420px;}
.w430 {width: 430px;}
.w440 {width: 440px;}
.w450 {width: 450px;}
.w460 {width: 460px;}
.w470 {width: 470px;}
.w480 {width: 480px;}
.w490 {width: 490px;}
.w500 {width: 500px;}
.w510 {width: 510px;}
.w520 {width: 520px;}
.w530 {width: 530px;}
.w540 {width: 540px;}
.w550 {width: 550px;}
.w560 {width: 560px;}
.w570 {width: 570px;}
.w580 {width: 580px;}
.w590 {width: 590px;}
.w600 {width: 600px;}
.w610 {width: 610px;}
.w620 {width: 620px;}
.w630 {width: 630px;}
.w640 {width: 640px;}
.w650 {width: 650px;}
.w660 {width: 660px;}
.w670 {width: 670px;}
.w680 {width: 680px;}
.w690 {width: 690px;}
.w700 {width: 700px;}
.w15 {width: 15px;}
.w25 {width: 25px;}
.w35 {width: 35px;}
.w45 {width: 45px;}
.w55 {width: 55px;}
.w65 {width: 65px;}
.w75 {width: 75px;}
.w85 {width: 85px;}
.w90 {width: 95px;}
.w5p {width: 5%;}
.w10p {width: 10%;}
.w15p {width: 15%;}
.w20p {width: 20%;}
.w25p {width: 25%;}
.w30p {width: 30%;}
.w35p {width: 35%;}
.w40p {width: 40%;}
.w45p {width: 45%;}
.w48p {width: 48%;}
.w49p {width: 49%;}
.w50p {width: 50%;}
.w55p {width: 55%;}
.w60p {width: 60%;}
.w65p {width: 65%;}
.w70p {width: 70%;}
.w75p {width: 75%;}
.w80p {width: 80%;}
.w85p {width: 85%;}
.w90p {width: 90%;}
.w95p {width: 95%;}
.w100p {width: 99.9%;}
.h10 {height: 10px;}
.h20 {height: 20px;}
.h30 {height: 30px;}
.h40 {height: 40px;}
.h50 {height: 50px;}
.h60 {height: 60px;}
.h70 {height: 70px;}
.h80 {height: 80px;}
.h90 {height: 90px;}
.h100 {height: 100px;}
.h110 {height: 110px;}
.h120 {height: 120px;}
.h130 {height: 130px;}
.h140 {height: 140px;}
.h150 {height: 150px;}
.h160 {height: 160px;}
.h170 {height: 170px;}
.h180 {height: 180px;}
.h190 {height: 190px;}
.h200 {height: 200px;}
.h210 {height: 210px;}
.h220 {height: 220px;}
.h230 {height: 230px;}
.h240 {height: 240px;}
.h250 {height: 250px;}
.h260 {height: 260px;}
.h270 {height: 270px;}
.h280 {height: 280px;}
.h290 {height: 290px;}
.h300 {height: 300px;}
.h310 {height: 310px;}
.h320 {height: 320px;}
.h330 {height: 330px;}
.h340 {height: 340px;}
.h350 {height: 350px;}
.h360 {height: 360px;}
.h370 {height: 370px;}
.h380 {height: 380px;}
.h390 {height: 390px;}
.h400 {height: 400px;}
.h410 {height: 410px;}
.h420 {height: 420px;}
.h430 {height: 430px;}
.h440 {height: 440px;}
.h450 {height: 450px;}
.h460 {height: 460px;}
.h470 {height: 470px;}
.h480 {height: 480px;}
.h490 {height: 490px;}
.h500 {height: 500px;}
.h510 {height: 510px;}
.h520 {height: 520px;}
.h530 {height: 530px;}
.h540 {height: 540px;}
.h550 {height: 550px;}
.h560 {height: 560px;}
.h570 {height: 570px;}
.h580 {height: 580px;}
.h590 {height: 590px;}
.h600 {height: 600px;}
.h610 {height: 610px;}
.h620 {height: 620px;}
.h630 {height: 630px;}
.h640 {height: 640px;}
.h650 {height: 650px;}
.h660 {height: 660px;}
.h670 {height: 670px;}
.h680 {height: 680px;}
.h690 {height: 690px;}
.h700 {height: 700px;}
.indent1 {text-indent: 15px;}
.indent2 {text-indent: 30px;}
.indent3 {text-indent: 45px;}
.indent4 {text-indent: 60px;}
#wrap {min-width: 1200px;}
#header {background: #157347; padding: 0px 240px; height: 52px; overflow: hidden; position: relative;}
#header h1 {padding: 10px 0px 0px 15px; left: 0px; top: 0px; width: 210px; text-align: left; color: rgb(255, 255, 255); line-height: 14px; letter-spacing: -1px; font-size: 16px; display: block; position: absolute; box-sizing: border-box;}
#header h1 a {color: rgb(255, 255, 255);}
#header h1 em {font-size: 11px; display: block;}
#header #gnb {padding-top: 5px;}
#header #gnb ul {display: block;}
#header #gnb ul li {margin-right: 35px; float: left; display: block;}
#header #gnb ul li a {height: 40px; color: rgb(255, 255, 255); line-height: 40px; font-size: 14px; font-weight: bold; display: block;}
#header #topNav {top: 0px; right: 0px; position: absolute;}
/* #header #topNav span.alarm {background: url("/SM/images/cms/icon_alarm.png") no-repeat center; width: 58px; height: 52px; border-left-color: rgb(96, 152, 209); border-left-width: 1px; border-left-style: solid; float: left; display: block; position: relative;}
#header #topNav span.alarm em {background: url("/SM/images/cms/icon_alarmCount.png") no-repeat; top: 18px; width: 16px; height: 16px; text-align: center; right: 12px; color: rgb(255, 255, 255); line-height: 16px; font-size: 12px; display: block; position: absolute;} */
#header #topNav span.user {padding: 0px 15px; height: 52px; color: rgb(255, 255, 255); line-height: 52px; border-left-color: #198754; border-left-width: 1px; border-left-style: solid; float: left; display: block; position: relative;}
#header #topNav #btn_logout {border: 1px solid rgb(255, 255, 255); border-image: none; width: 55px; height: 20px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; margin-left: 10px; display: inline-block;}
#footer {display: none;}
#container {padding-left: 210px; position: relative;}
#lnb {background: rgb(239, 239, 239); left: 0px; top: 0px; width: 240px; bottom: 0px; border-right-color: rgb(218, 217, 222); border-right-width: 1px; border-right-style: solid; position: absolute; box-sizing: border-box; margin-top: 52px;}
#lnb h2 {background: #198754; height: 50px; text-align: center; color: rgb(255, 255, 255); line-height: 50px; font-size: 18px; font-weight: bold; vertical-align: middle; display: block;}
#lnb ul {display: block;}
#lnb ul li {display: none;}
/* #lnb ul.M01 {display: none;}
#lnb ul.M02 {display: none;}
#lnb ul.M03 {display: none;}
#lnb ul.M04 {display: none;}
#lnb ul.M05 {display: none;} */
#lnb ul li.sel {display: block;}
#lnb ul li a {display: block;}
#lnb > ul {background: rgb(255, 255, 255);}
#lnb > ul > li {border-bottom-color: rgb(212, 211, 216); border-bottom-width: 1px; border-bottom-style: solid; position: relative;}
#lnb > ul > li > a {padding: 0px 10px; height: 40px; color: rgb(68, 68, 68); line-height: 40px; font-size: 13px;}
/* #lnb > ul > li.on > a {background: url("/SM/images/cms/bg_lnb_active.jpg") no-repeat right / auto 100% rgb(1, 64, 133); color: rgb(255, 255, 255);} */
#lnb > ul > li.on > a {color: rgb(255, 255, 255);}
#lnb > ul > li.on > i {color: rgb(255, 255, 255);}
#lnb > ul > li > ul {background: rgb(243, 243, 243); padding: 5px 10px 5px 20px; border-top-color: rgb(212, 211, 216); border-top-width: 1px; border-top-style: solid;}
#lnb > ul > li > ul > li {margin: 5px 0px;}
#lnb > ul > li > ul > li > a {color: rgb(136, 136, 136); font-size: 12px;}
#lnb > ul > li > ul > li.on > a {color: rgb(1, 64, 133);}
#lnb i {top: 12px; right: 10px; font-size: 18px; position: absolute;}
#container #content {box-sizing: border-box;}
#container #content::after {clear: both; display: block; content: "";}
#container #content #contentTop {padding: 0px 20px; height: 50px; border-bottom-color: rgb(218, 217, 222); border-bottom-width: 1px; border-bottom-style: solid; position: relative; box-sizing: border-box;}
/* #container #content #contentTop h3 {background: url("/SM/images/cms/icon_contentTitle.png") no-repeat left; height: 49px; color: rgb(33, 33, 33); line-height: 48px; padding-left: 33px; font-size: 20px; display: block;} */
#container #content #contentTop #contentLocation {top: 10px; right: 10px; position: absolute;}
/* #container #content #contentTop #contentLocation span {background: url("/SM/images/cms/icon_locationHome.png") no-repeat center; width: 16px; height: 16px; text-indent: -9999em; display: inline-block;} */
#container #content #contentholder {background: rgb(255, 255, 255); padding: 20px 20px 40px; position: relative; box-sizing: border-box;}
#container #content #contentholder::after {clear: both; display: block; content: "";}
h4 {color: rgb(51, 51, 51); font-size: 15px; font-weight: bold; margin-bottom: 10px; display: block;}
h5 {color: rgb(80, 80, 80); font-size: 13px; font-weight: bold; margin-bottom: 10px; display: block;}
p {margin: 10px 0px; clear: both;}
input[type='button'] {cursor: pointer;}
input[type='submit'] {cursor: pointer;}
button {cursor: pointer;}
.btnArea {margin: 10px 0px; text-align: center; line-height: 24px;}
.btnArea.right {text-align: right;}
.btnArea.left {text-align: left;}
.btnArea::after {clear: both; display: block; content: "";}
.btnArea > h4 {margin: 0px; display: inline-block;}
.btnArea.tab {margin: 0px 0px 5px;}
.btn_l {background: rgb(245, 245, 245); border: 1px solid rgb(222, 222, 222); border-image: none; text-align: center; color: rgb(69, 69, 69); vertical-align: middle; display: inline-block; box-sizing: border-box;}
.btn_m {background: rgb(245, 245, 245); border: 1px solid rgb(222, 222, 222); border-image: none; text-align: center; color: rgb(69, 69, 69); vertical-align: middle; display: inline-block; box-sizing: border-box;}
.btn_s {background: rgb(245, 245, 245); border: 1px solid rgb(222, 222, 222); border-image: none; text-align: center; color: rgb(69, 69, 69); vertical-align: middle; display: inline-block; box-sizing: border-box;}
.btn_ss {background: rgb(245, 245, 245); border: 1px solid rgb(222, 222, 222); border-image: none; text-align: center; color: rgb(69, 69, 69); vertical-align: middle; display: inline-block; box-sizing: border-box;}
.btn_inline {background: rgb(245, 245, 245); border: 1px solid rgb(222, 222, 222); border-image: none; text-align: center; color: rgb(69, 69, 69); vertical-align: middle; display: inline-block; box-sizing: border-box;}
.btn_l {padding: 0px 16px; height: 32px; line-height: 30px; font-size: 15px;}
.btn_m {padding: 0px 12px; height: 28px; line-height: 26px; font-size: 13px;}
.btn_s {padding: 0px 4px; height: 22px; line-height: 20px; font-size: 12px;}
.btn_ss {padding: 0px 2px; height: 20px; line-height: 18px; font-size: 11px;}
.btn_inline {padding: 0px 12px; height: 24px; line-height: 22px; font-size: 12px;}
.btn_focus {background: #157347; border: 1px solid #157347; border-image: none; color: rgb(255, 255, 255);}
.btn_basic {background: rgb(174, 182, 203); border: 1px solid rgb(174, 182, 203); border-image: none; color: rgb(255, 255, 255);}
.ui-dialog-buttonset .ui-button.ui-state-default {background: #157347; border: 1px solid #157347; border-image: none; color: rgb(255, 255, 255);}
.noText {padding: 0px !important;}
.btn_l.noText {width: 32px; text-indent: -9999em;}
.btn_m.noText {width: 28px; text-indent: -9999em;}
.btn_s.noText {width: 22px; text-indent: -9999em;}
.btn_ss.noText {width: 20px; text-indent: -9999em;}
.btn_inline.noText {width: 24px; text-indent: -9999em;}
input[type='text'] {border-width: 1px; border-style: solid; border-color: rgb(158, 158, 158) rgb(204, 204, 204) rgb(204, 204, 204) rgb(158, 158, 158); border-image: none; height: 24px; vertical-align: middle; max-width: 100%; box-sizing: border-box;}
input[type='number'] {border-width: 1px; border-style: solid; border-color: rgb(158, 158, 158) rgb(204, 204, 204) rgb(204, 204, 204) rgb(158, 158, 158); border-image: none; height: 24px; vertical-align: middle; max-width: 100%; box-sizing: border-box;}
input[type='password'] {border-width: 1px; border-style: solid; border-color: rgb(158, 158, 158) rgb(204, 204, 204) rgb(204, 204, 204) rgb(158, 158, 158); border-image: none; height: 24px; vertical-align: middle; max-width: 100%; box-sizing: border-box;}
select {border-width: 1px; border-style: solid; border-color: rgb(158, 158, 158) rgb(204, 204, 204) rgb(204, 204, 204) rgb(158, 158, 158); border-image: none; height: 24px; vertical-align: middle; max-width: 100%; box-sizing: border-box;}
input[type='text']:focus {border-color: #157347;}
input[type='number']:focus {border-color: #157347;}
input[type='password']:focus {border-color: #157347;}
select:focus {border-color: #157347;}
input[type='text'] {padding: 0px 4px;}
input[type='number'] {padding: 0px 4px;}
input[type='password'] {padding: 0px 4px;}
.required {color: rgb(238, 0, 0); font-weight: bold;}
.captionText {color: rgb(238, 0, 0); font-weight: bold;}
table.form th .required {margin-left: -8px; display: block; position: absolute;}
input[type='text']:disabled {background: rgb(243, 243, 243); color: rgb(170, 170, 170);}
input[type='number']:disabled {background: rgb(243, 243, 243); color: rgb(170, 170, 170);}
input[type='password']:disabled {background: rgb(243, 243, 243); color: rgb(170, 170, 170);}
textarea {border-width: 1px; border-style: solid; border-color: rgb(158, 158, 158) rgb(204, 204, 204) rgb(204, 204, 204) rgb(158, 158, 158); padding: 5px; border-image: none; vertical-align: middle; box-sizing: border-box;}
label.linked {margin: 0px 3px 3px 0px; padding: 0px 3px; border: 1px solid rgb(222, 222, 222); border-image: none; line-height: 22px; display: inline-block; cursor: pointer;}
input[type='radio'] {background: rgb(253, 253, 253); border-radius: 8px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 14px; height: 14px; cursor: pointer; box-sizing: border-box; -webkit-appearance: none;}
input[type='checkbox'] {background: rgb(253, 253, 253); border: 1px solid rgb(204, 204, 204); border-image: none; width: 14px; height: 14px; cursor: pointer; box-sizing: border-box; -webkit-appearance: none;}
input[type='radio'] + label {margin-right: 8px; margin-left: 4px; cursor: pointer;}
input[type='checkbox'] + label {margin-right: 8px; margin-left: 4px; cursor: pointer;}
/* input[type='radio']:checked {background: url("/SM/images/cms/bg_radio_active.png") no-repeat center rgb(253, 253, 253);}
input[type='checkbox']:checked {background: url("/SM/images/cms/bg_check_active.png") no-repeat center rgb(253, 253, 253);} */
table {width: 100%; clear: both; margin-bottom: 10px; border-top-color: rgb(62, 62, 62); border-left-color: rgb(221, 221, 221); border-top-width: 2px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; table-layout: fixed; border-spacing: 0;}
table th {padding: 6px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-break: break-all;}
table td {padding: 6px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-break: break-all;}
table th {background: rgb(240, 245, 249);}
table.list {width: 100%; margin-bottom: 10px; border-top-color: rgb(62, 62, 62); border-left-color: rgb(221, 221, 221); border-top-width: 2px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;}
table.view {width: 100%; margin-bottom: 10px; border-top-color: rgb(62, 62, 62); border-left-color: rgb(221, 221, 221); border-top-width: 2px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;}
table.form {width: 100%; margin-bottom: 10px; border-top-color: rgb(62, 62, 62); border-left-color: rgb(221, 221, 221); border-top-width: 2px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;}
table.list th {background: rgb(240, 245, 249);}
table.view th {background: rgb(240, 245, 249);}
table.form th {background: rgb(240, 245, 249);}
table.list th {padding: 6px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-break: break-all;}
table.view th {padding: 6px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-break: break-all;}
table.form th {padding: 6px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-break: break-all;}
table.list td {padding: 6px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-break: break-all;}
table.view td {padding: 6px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-break: break-all;}
table.form td {padding: 6px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-break: break-all;}
td.center {text-align: center;}
table.list td.center {text-align: center;}
table.view td.center {text-align: center;}
table.form td.center {text-align: center;}
td.left {text-align: left !important;}
table.list td.left {text-align: left !important;}
table.view td.left {text-align: left !important;}
table.form td.left {text-align: left !important;}
td.right {text-align: right;}
table.list td.right {text-align: right;}
table.view td.right {text-align: right;}
table.form td.right {text-align: right;}
table.list th {padding: 6px 3px; text-align: center;}
table.list td {padding: 6px 3px; text-align: center;}
table.form th {padding: 3px 6px; line-height: 28px;}
table.form td {padding: 3px 6px; line-height: 28px;}
table.form th {text-align: left; padding-left: 14px;}
table table.list {margin: 5px 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;}
table table.view {margin: 5px 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;}
table table.form {margin: 5px 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;}
table table.form th {line-height: 160%;}
table table.form td {line-height: 160%;}
.empty {padding: 80px 0px !important; text-align: center;}
.scrolled {border-width: 2px 1px 1px; border-style: solid; border-color: rgb(62, 62, 62) rgb(221, 221, 221) rgb(221, 221, 221); border-image: none; -ms-overflow-y: auto;}
.scrolled table.list {margin-bottom: 0px; border-top-color: currentColor; border-left-color: currentColor; border-top-width: 0px; border-left-width: 0px; border-top-style: none; border-left-style: none;}
td.textContent {padding: 6px; height: 200px; line-height: 140%; vertical-align: top;}
#container #content #content {min-height: auto !important;}
.jstree-anchor {color: rgb(85, 85, 85);}
.jstree-anchor:link {color: rgb(85, 85, 85);}
.jstree-anchor:visited {color: rgb(85, 85, 85);}
.jstree-anchor:hover {color: rgb(85, 85, 85);}
.jstree-anchor:active {color: rgb(85, 85, 85);}
.jstree-default .jstree-clicked {background: rgb(240, 245, 249); border: 1px solid #157347; border-image: none; color: rgb(0, 0, 0); box-shadow: none;}
.jstree-default .jstree-wholerow-clicked {background: none;}
.jstree-default.roleTree {padding: 10px; border: 1px solid rgb(238, 238, 238); border-image: none; -ms-overflow-y: auto; max-height: 540px;}
.jstree-default.roleTree .jstree-clicked {background: none; border: 0px currentColor; border-image: none;}
.jstree-default.roleTree .jstree-anchor {height: 20px; line-height: 20px;}
.jstree-default.roleTree :empty.jstree-icon {height: 20px; line-height: 20px; margin-top: -2px;}
#loading {margin: -30px 0px 0px -30px; left: 50%; top: 50%; position: absolute; opacity: 0.6;}
#loading > div {margin: 0px auto; border-radius: 100%; width: 40px; height: 40px; position: relative;}
#loading > div::before {border-width: 10px; border-style: solid; border-color: rgb(52, 152, 219) transparent transparent; border-radius: 100%; border-image: none; left: -10px; top: -10px; width: 100%; height: 100%; position: absolute; content: "";}
#loading > div::after {border-width: 10px; border-style: solid; border-color: rgb(52, 152, 219) transparent transparent; border-radius: 100%; border-image: none; left: -10px; top: -10px; width: 100%; height: 100%; position: absolute; content: "";}
#loading > div::before {animation:spin 0.2s infinite; z-index: 100;}
#loading > div::after {border: 10px solid rgb(204, 204, 204); border-image: none;}
.f_left {float: left;}
.f_right {float: right;}
.btn_zone {margin: 20px 0px; text-align: right; overflow: hidden;}
.btn_zone .left {float: left;}
.btn_zone .right {float: right;}
.btn_input {padding: 0px 12px; height: 24px; text-align: center; line-height: 22px; font-size: 12px; display: inline-block; box-sizing: border-box;}
.btn {padding: 0px 8px; height: 24px; text-align: center; line-height: 22px; font-size: 12px; display: inline-block; box-sizing: border-box;}
.btn0 {padding: 0px 8px; height: 24px; text-align: center; line-height: 22px; font-size: 12px; display: inline-block; box-sizing: border-box;}
.btn1 {padding: 0px 8px; height: 24px; text-align: center; line-height: 22px; font-size: 12px; display: inline-block; box-sizing: border-box;}
.btn2 {padding: 0px 8px; height: 24px; text-align: center; line-height: 22px; font-size: 12px; display: inline-block; box-sizing: border-box;}
.btn3 {padding: 0px 8px; height: 24px; text-align: center; line-height: 22px; font-size: 12px; display: inline-block; box-sizing: border-box;}
.btn4 {padding: 0px 8px; height: 24px; text-align: center; line-height: 22px; font-size: 12px; display: inline-block; box-sizing: border-box;}
.btn4 {background: rgb(255, 137, 81); border: 1px solid rgb(255, 116, 49); border-image: none; color: rgb(255, 255, 255);}
.btn3 {background: rgb(66, 139, 202); border: 1px solid rgb(53, 126, 189); border-image: none; color: rgb(255, 255, 255);}
.btn2 {background: rgb(55, 75, 94); border: 1px solid rgb(43, 60, 78); border-image: none; color: rgb(255, 255, 255);}
.btn1 {background: rgb(199, 31, 75); border: 1px solid rgb(179, 28, 66); border-image: none; color: rgb(255, 255, 255);}
.btn0 {background: rgb(245, 245, 245); border: 1px solid rgb(222, 222, 222); border-image: none; color: rgb(118, 118, 118);}
.btn {background: rgb(174, 182, 203); border: 1px solid rgb(172, 181, 202); border-image: none; color: rgb(255, 255, 255);}
.routeText {color: rgb(0, 128, 0);}
table.form table.list th {padding: 6px 3px; text-align: center;}
.inp_inline {vertical-align: top; display: inline-block;}
.clickDetail td {overflow: hidden; white-space: nowrap; cursor: pointer; -ms-text-overflow: ellipsis;}
.clickDetail td.active {overflow: inherit; white-space: inherit; -ms-text-overflow: inherit;}
#wrapper {padding: 0px 35px 35px; position: relative; min-height: 700px; margin-left: 240px;}
.sm_title {/* background: url("/SM/images/icon_contentTitle.png") no-repeat left 35px; */ padding: 30px 0px 0px 33px; height: 47px; color: rgb(33, 33, 33); font-size: 22px; margin-bottom: 40px; border-bottom-color: rgb(221, 221, 223); border-bottom-width: 3px; border-bottom-style: solid; position: relative;}
.sm_title::after {left: 0px; width: 200px; bottom: -3px; border-bottom-color: rgb(44, 44, 44); border-bottom-width: 3px; border-bottom-style: solid; display: block; position: absolute; content: "";}
.loca {top: 20px; right: 0px; color: rgb(102, 102, 102); font-size: 12px; position: absolute;}
.bbs_list td {text-align: center;}
.data_list td {text-align: center;}
.data_list5 td {text-align: center;}
#pager {margin: 20px 0px; width: 100%; text-align: center; clear: both;}
#pager ul {width: 100%; height: 20px; text-align: center;}
#pager ul li {padding: 0px 1px; display: inline;}
#pager ul li a {padding: 0px 1px;}
#pager ul li a:hover {color: rgb(102, 102, 102);}
.form_btn {margin: 10px 0px 0px; width: 100%; clear: both;}
.form_btn::after {clear: both; display: block; content: "";}
.form_btn li {padding: 0px 3px 0px 0px; display: inline;}
.form_btn .center {padding: 0px 0px 1px; text-align: center; clear: both;}
.form_btn .left {padding: 0px 0px 1px; float: left;}
.form_btn .right {padding: 0px 0px 1px; text-align: right; float: right;}
.sch1 {padding: 20px 40px; box-sizing: border-box;}
.sch1 table {margin: 10px 0px 0px; table-layout: inherit;}
.sch1 table {background: none; border: 0px currentColor; border-image: none; text-align: left;}
.sch1 table th {background: none; border: 0px currentColor; border-image: none; text-align: left;}
.sch1 table td {background: none; border: 0px currentColor; border-image: none; text-align: left;}
ul.listCon > li {line-height: 160%; padding-top: 2px; padding-bottom: 2px; padding-left: 10px; position: relative;}
ul.listCon.dot > li::before {left: 0px; top: 10px; width: 3px; height: 3px; display: block; position: absolute; content: ""; background-color: rgb(108, 108, 108);}
ul.listCon.minus > li::before {left: 0px; top: 10px; width: 4px; height: 1px; display: block; position: absolute; content: ""; background-color: rgb(108, 108, 108);}
ul.listCon.em > li {padding-left: 18px;}
ul.listCon.em > li > em {left: 0px; top: 2px; width: 12px; display: block; position: absolute;}
