@font-face {
	font-family: NanumGothic;
	src: url(/share/font/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"), url(/share/font/NanumGothic-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NanumGothicB;
	src: url(/share/font/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"), url(/share/font/NanumGothic-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}
body {margin: 0px; padding: 0px; color: rgb(85, 85, 85); font-size: 12px;}
iframe {margin: 0px; padding: 0px; border: currentColor; border-image: none;}
ul {list-style: none; margin: 0px; padding: 0px;}
ol {list-style: none; margin: 0px; padding: 0px;}
li {list-style: none; margin: 0px; padding: 0px;}
dl {margin: 0px; padding: 0px;}
dt {margin: 0px; padding: 0px;}
dd {margin: 0px; padding: 0px;}
form {margin: 0px; padding: 0px; border: currentColor; border-image: none;}
fieldset {margin: 0px; padding: 0px; border: currentColor; border-image: none;}
legend {left: -9999em; top: -9999em; position: absolute;}
input {color: rgb(85, 85, 85); font-size: 13px; vertical-align: middle;}
select {color: rgb(85, 85, 85); font-size: 13px; vertical-align: middle;}
textarea {color: rgb(85, 85, 85); font-size: 13px; vertical-align: middle;}
input[type='text'] {padding: 3px 2px; border: 1px solid rgb(190, 190, 190); border-image: none; height: 21px; line-height: 20px;}
input[type='password'] {padding: 3px 2px; border: 1px solid rgb(190, 190, 190); border-image: none;}
input[type='radio'] {margin: 0px; padding: 0px; width: 13px; height: 13px;}
input[type='checkbox'] {margin: 0px; padding: 0px; width: 13px; height: 13px;}
input[type='file'] {height: 25px;}
select {border: 1px solid rgb(190, 190, 190); border-image: none; color: rgb(0, 0, 0); font-family: "Dotum",Arial,sans-serif; font-size: 11px; vertical-align: middle;}
textarea {border: 1px solid rgb(190, 190, 190); border-image: none;}
table {border: 0px currentColor; border-image: none; color: rgb(85, 85, 85); font-size: 13px;}
table caption {display: none;}
img {border: currentColor; border-image: none; vertical-align: top;}
p {margin: 0px; padding: 0px;}
address {font-style: normal;}
em {font-style: normal;}
h1 {margin: 0px; padding: 0px; font-size: 1em;}
h2 {margin: 0px; padding: 0px; font-size: 1em;}
h3 {margin: 0px; padding: 0px; font-size: 1em;}
h4 {margin: 0px; padding: 0px; font-size: 1em;}
h5 {margin: 0px; padding: 0px; font-size: 1em;}
h6 {margin: 0px; padding: 0px; font-size: 1em;}
a {border: currentColor; border-image: none; color: rgb(85, 85, 85); text-decoration: none;}
hr {display: none;}
.hide {left: -9999em; top: -9999em; position: absolute;}
.skip {left: -9999em; top: -9999em; position: absolute;}
.hidden {left: -9999em; top: -9999em; position: absolute;}
.accessibility {left: -9999em; top: -9999em; position: absolute;}
.ellipsis {overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;}
.w10 {width: 10%;}
.w20 {width: 20%;}
.w30 {width: 30%;}
.w40 {width: 40%;}
.w50 {width: 50%;}
.w60 {width: 60%;}
.w70 {width: 70%;}
.w80 {width: 80%;}
.w90 {width: 90%;}
.w100 {width: 100%;}
.dot_line {background: url("/img/sub/dot.gif") no-repeat center; margin: 5px 0px; width: 100%; height: 10px; clear: both;}
.inline {display: inline;}
.block {display: block;}
.clear {clear: both;}
.clearfix::after {clear: both; display: block; content: "";}
.txt_left {text-align: left !important;}
.txt_center {text-align: center !important;}
.txt_right {text-align: right !important;}
.txt_top {vertical-align: top !important;}
.txt_middle {vertical-align: middle !important;}
.txt_justify {text-align: justify;}
.txt_bold {font-family: "NanumGothicB";}
.txt_small {font-size: 11px;}
.txt_big {font-size: 14px;}
.txt_line {text-decoration: underline;}
.txt_red {color: rgb(237, 28, 36) !important;}
.txt_gray {color: rgb(102, 102, 102) !important;}
.txt_green {color: rgb(111, 176, 17) !important;}
.txt_blue {color: rgb(0, 96, 168) !important;}
.txt_lightblue {color: rgb(28, 163, 174) !important;}
.txt_orange {color: rgb(255, 102, 0) !important;}
.txt_black {color: rgb(17, 17, 17) !important;}
.txt_brown {color: rgb(190, 106, 61) !important;}
.txt_size13 {font-size: 13px !important;}
.txt_size14 {font-size: 14px !important;}
.txt_size15 {font-size: 15px !important;}
.txt_size16 {font-size: 16px !important;}
.txt_size17 {font-size: 17px !important;}
.txt_size18 {font-size: 18px !important;}
.txt_size19 {font-size: 19px !important;}
.txt_size20 {font-size: 20px !important;}
.txt_size27 {font-size: 27px !important;}
.txt_size35 {font-size: 35px !important;}
.pd5 {padding: 5px;}
.pd10 {padding: 10px;}
.pdt2 {padding-top: 2px;}
.pdt5 {padding-top: 5px;}
.pdt6 {padding-top: 6px;}
.pdt10 {padding-top: 10px;}
.pdt15 {padding-top: 15px;}
.pdt20 {padding-top: 20px;}
.pdt25 {padding-top: 25px;}
.pdt30 {padding-top: 30px;}
.pdt32 {padding-top: 32px;}
.pdt60 {padding-top: 60px;}
.pdt70 {padding-top: 70px;}
.pdt42 {padding-top: 42px;}
.pdt110 {padding-top: 110px;}
.pdt190 {padding-top: 190px;}
.pdt180 {padding-top: 180px;}
.pdb5 {padding-bottom: 5px;}
.pdb10 {padding-bottom: 10px;}
.pdb15 {padding-bottom: 15px;}
.pdb19 {padding-bottom: 19px;}
.pdb20 {padding-bottom: 20px;}
.pdb25 {padding-bottom: 25px;}
.pdb30 {padding-bottom: 30px;}
.pdl5 {padding-left: 5px;}
.pdl10 {padding-left: 10px;}
.pdl15 {padding-left: 15px;}
.pdl20 {padding-left: 20px;}
.pdl25 {padding-left: 25px;}
.pdl30 {padding-left: 30px;}
.pdl40 {padding-left: 40px;}
.pdr10 {padding-right: 10px;}
.pdr15 {padding-right: 15px;}
.pdr20 {padding-right: 20px;}
.pdr25 {padding-right: 25px;}
.pdr30 {padding-right: 30px;}
.pdr35 {padding-right: 35px;}
.pdr40 {padding-right: 40px;}
.mgl5 {margin-left: 5px !important;}
.mgl10 {margin-left: 10px !important;}
.mgl15 {margin-left: 15px !important;}
.mgl20 {margin-left: 20px !important;}
.mgl25 {margin-left: 25px !important;}
.mgl30 {margin-left: 30px !important;}
.mgl40 {margin-left: 40px !important;}
.mgl94 {margin-left: 94px !important;}
.mgr5 {margin-right: 5px !important;}
.mgr10 {margin-right: 10px !important;}
.mgr15 {margin-right: 15px !important;}
.mgr20 {margin-right: 20px !important;}
.mgr25 {margin-right: 25px !important;}
.mgr30 {margin-right: 30px !important;}
.mgb5 {margin-bottom: 5px !important;}
.mgb10 {margin-bottom: 10px !important;}
.mgb15 {margin-bottom: 15px !important;}
.mgb20 {margin-bottom: 20px !important;}
.mgb25 {margin-bottom: 25px !important;}
.mgb30 {margin-bottom: 30px !important;}
.mgt3 {margin-top: 3px !important;}
.mgt5 {margin-top: 5px !important;}
.mgt7 {margin-top: 7px !important;}
.mgt10 {margin-top: 10px !important;}
.mgt15 {margin-top: 15px !important;}
.mgt20 {margin-top: 20px !important;}
.mgt25 {margin-top: 25px !important;}
.mgt30 {margin-top: 30px !important;}
.tab {margin: 0px 0px 20px; overflow: hidden;}
.tab ul {height: 33px; border-bottom-color: rgb(206, 206, 206); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 0;}
.tab li {margin-right: 3px; float: left;}
.tab li a {background: rgb(241, 241, 241); border: 1px solid rgb(216, 216, 216); border-image: none; height: 32px; line-height: 32px; display: block; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.tab li a {padding: 0px 25px; font-size: 14px; position: relative; z-index: 100;}
.tab li.on a {background: rgb(255, 96, 93); border: 1px solid rgb(255, 96, 93); border-image: none; color: rgb(255, 255, 255); font-family: "NanumGothicB"; z-index: 100;}
.tab li a:hover {border-color: rgb(255, 96, 93);}
.type_blue {padding: 0px 6px; border: 1px solid rgb(140, 173, 193); border-image: none; height: 21px; color: rgb(40, 118, 158); line-height: 21px; font-size: 11px; display: inline-block;}
.type_red {padding: 0px 6px; border: 1px solid rgb(255, 123, 123); border-image: none; height: 21px; color: rgb(220, 38, 38); line-height: 21px; font-size: 11px; display: inline-block;}
.type_orange {padding: 0px 6px; border: 1px solid rgb(244, 120, 47); border-image: none; height: 21px; color: rgb(198, 67, 0); line-height: 21px; font-size: 11px; display: inline-block;}
.type_green {padding: 0px 6px; border: 1px solid rgb(108, 197, 78); border-image: none; height: 21px; color: rgb(50, 116, 25); line-height: 21px; font-size: 11px; display: inline-block;}
.type_gray {background: rgb(244, 244, 244); padding: 0px 6px; border: 1px solid rgb(198, 198, 198); border-image: none; height: 21px; color: rgb(136, 136, 136); line-height: 21px; font-size: 11px; display: inline-block;}